<IfModule mod_rewrite.c>
RewriteEngine On

# sitemap.xml için yönlendirme uygulama
RewriteCond %{REQUEST_URI} ^/sitemap\.xml$ [NC]
RewriteRule .* - [L]

# .html yönlendirme kuralları
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
</IfModule>
