* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3", sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 15px;
}
.header h2 {
    font-size: 2.1rem;
    margin: 10px 0;
    color: #fff;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    margin: 20px 0;
}

.project {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.project-banner {
    width: 100%;
    height: auto;
    max-height: 250px;
    border-radius: 10px;
    object-fit: contain;
}

.project-logo {
    width: 50px;
    height: 50px;
    margin-top: -30px;
    border-radius: 50%;
}

.project-name a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-bottom: 15px;
    display: block;
}

.project-name a:hover {
    color: #b1b0b1;
}

.project-icons {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.project-icons i {
    font-size: 1.15rem;
    margin: 5px;
    color: #fff;
    transition: color 0.3s ease;
}

.project-icons i:hover {
    color: #b1b0b1;
}

.project-position {
    font-size: 0.95rem;
    color: #bbb;
    display: block; 
    margin-top: -18.5px;
    margin-bottom: 5px;
}

.project-bio {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 0px;
}
